* {
    box-sizing: border-box;
}

.hidden{
    display: none;
}

.group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

body{ 
    margin: 0;
    background-color: #F8F4E3;
}

header{
    background: url("pictures/cooking-pic-3.jpg") no-repeat center;
    margin: 0 auto;
    background-size: cover;
    height: 400px;
    padding: 50px;
}

h1{
    font-size: 48px;   
    font-family: "lobster", impact, sans-serif;
}

h2, h3, p, label, button, ul{
    font-family: "Roboto", arial, sans-serif;
}

.review ul{
    font-weight: bold;
    list-style-type: circle;
}

header div{
    background-color: #F8F4E3;
    box-shadow: 10px 10px;
    max-width: 400px;
    min-width: 200px;
    text-align: center;
}

.wrapper{
    width: 60%;
    margin: 0 auto;
}

section.intro{
    background-color: #e591a6;
    padding: 20px;
    border: 1pt solid black;
}

section.review{
    border: 1pt solid black;
    margin: 20px 0;
    padding: 0 20px 20px 20px;
    background-color: rgb(173, 226, 226);
}

li.recipe{
    border: 1pt solid black;
    box-shadow: 10px 10px 5px grey;
    list-style-type: none;
    padding: 20px;
    margin: 30px 0;
    background: url(pictures/linedpaper.png) center;
    max-width: 500px;
}

li img{
    width: 100%;
}

.button{
    border: 3px solid #e591a6;
    background-color: white;
    transition-duration: 0.4s;
    border-radius: 8px;
    padding: 12px 28px;
    font-weight: bold;
}

.button:hover{
    background-color:#e591a6;
}

.reset{
    border: 1px solid black;
    background-color: #e591a6;
    transition-duration: 0.4s;
    border-radius: 8px;
    padding: 12px 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.reset:hover{
    background-color: #eccad3;
}

.right-align{
    text-align: right;
}

@media all and (min-width: 600px) {
    .wrapper{
        width: 50%;
    }
    p{
        font-size: 20px;
    }

    ul, li, button, label{
        font-size: 16px;
    }

    .button{
        padding: 6px 20px;
    }

    h2{
        font-size: 30px;
    }

    h1{
        font-size: 60px;
    }
}